include pyproject.toml
include setup.py

recursive-include requirements *
recursive-include src *

exclude .arcconfig
exclude .taskcluster.yml
exclude .yamllint
exclude README.md
exclude Dockerfile.test
exclude taskcluster
exclude tests
exclude tox.ini

recursive-exclude taskcluster *
recursive-exclude tests *
