---
trust-domain: releng
treeherder:
    group-names: {}

task-priority: low

taskgraph:
    register: fxci_config_taskgraph:register
    repositories:
        fxci:
            name: fxci-config
            project-regex: fxci-config.*
            default-repository: https://github.com/mozilla-releng/fxci-config
            default-ref: main
            type: git

workers:
    aliases:
        images:
            provisioner: 'releng-{level}'
            implementation: docker-worker
            os: linux
            worker-type: linux-docker
        t-linux:
            provisioner: 'releng-t'
            implementation: docker-worker
            os: linux
            worker-type: linux-docker
