---
trust-domain: ci
treeherder:
    group-names:
        'I': 'Docker Image Builds'
        'check': 'config checks'
        'unit': 'unit tests'

task-priority: low

taskgraph:
    repositories:
        fxci:
            name: fxci-config
            project-regex: fxci-config.*
            default-repository: https://github.com/mozilla-releng/fxci-config
            default-ref: migration
            type: git

workers:
    aliases:
        images:
            provisioner: 'ci-{level}'
            implementation: docker-worker
            os: linux
            worker-type: images-gcp
        t-linux:
            provisioner: 'ci-t'
            implementation: docker-worker
            os: linux
            worker-type: linux-gcp
